.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
  color: var(--color-text-primary);
  text-shadow: var(--text-shadow-primary);

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing) * 2);

    &__fields {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--spacing);
    }

    input {
      font-size: 1.5rem;
      padding: 0.5rem;
      border-radius: 4px;
      border: none;
    }

    input:focus {
      outline: none;
      box-shadow: var(--box-shadow-primary-large);
    }
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fileUpload {
  input[type='file'] {
    display: none;
  }

  .buttonWrap {
    border: 1px solid var(--color-text-primary);
    text-shadow: none;
    display: flex;
    padding: 0 var(--spacing);
    padding-top: calc(var(--spacing) / 2);
    padding-bottom: calc(var(--spacing) / 2);
    cursor: pointer;
    border-radius: 4px;
  }
}