.media_lists {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  // padding: calc(var(--spacing)) calc(var(--spacing) * 4);
  color: var(--color-text-primary);

  &__title {
    align-self: center;
  }

  &__body {
    margin: var(--spacing) 0;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
    align-items: center;
    text-shadow: var(--text-shadow-primary);
  }
  
  &__card_container {
    width: 100%;
    padding: 0 var(--spacing);

    @media screen and (width > 700px) {
      width: auto;
      padding: 0 0;
    }
  }
}

.createFormContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: var(--spacing);
}

.inputField {
  padding: calc(var(--spacing) / 2);
  align-self: center;
}

textarea.inputField {
  height: 100px;
}

.selectField {
  padding: calc(var(--spacing) / 2);
}

.formButton {
  display: flex;
  justify-content: center;
}
