.media_list_item {
  padding: 10px;
  display: flex;
  flex-direction: column;

  &__title_container {
    display: flex;
  }

  &__remove {
    background: transparent;
    border: none;
    margin-right: calc(var(--spacing) * 3);
    font-size: calc(var(--font-base-size) * 1.2);
  }
  
  &__title {
    color: var(--color-text-primary);;
    text-overflow: ellipsis;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
  }

  &__rating {
    display: flex;
    flex-direction: column;
  }

  &__image {
    border-radius: 20px;
    height: 300px;
    margin-bottom: 10px;

    &:hover {
      transform: scale(1.05);
      outline: solid 1px var(--color-text-secondary);
      box-shadow: var(--box-shadow-primary);
    }
  }

  a:hover {
    color: var(--color-text-primary);
    text-shadow: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    text-decoration: none;

    &:hover {
      text-shadow: none;
      cursor: pointer;
    }
  }
}