.mediaPage {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: calc(var(--spacing) * -2);
}

.media {
  display: grid;
  gap: var(--spacing);
  margin-top: calc(var(--spacing) * 4);
  color: var(--color-text-primary);

  @media screen and (width > 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (width > 800px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (width > 1050px) {
    grid-template-columns: repeat(4, 1fr);
  }
}